a {
  color: #112D4E;
}

body {
  background-color: #DBE2EF;
}

h1 {
  color: #3F72AF;
}

h3 {
  color: #112D4E;
}

hr {
  background-color: transparent;
  color: #3F72AF;
  opacity: 0.7;
  border-style: dotted none none none;
  border-width: 5px;
  height: 25px;
  width: 5%;
}

li {
  color: #112D4E;
}

p {
  color: #112D4E;
}

td {
  color: #112D4E;
}

th {
  color: #112D4E;
}
